@import '~@fluentui/react/dist/sass/References.scss';

:global {
  #workbenchPageContent,
  .CanvasComponent.LCS .CanvasZone {
    max-width: 100% !important;

  }
}

.fullPageContainer {
  background-color: transparent ;
  display: 'flex';
  flex-direction: 'column';
  justify-content: 'center';
  align-items: 'center',
}